{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}UK Elections{% endblock %}</title>
  <link href="{% static 'main.css' %}" rel="stylesheet">
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.8.2.min.js"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-3.8.2.min.js"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.8.2.min.js"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.8.2.min.js"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-3.8.2.min.js"></script>
  <link rel="icon" type="image/x-icon" href="{% static 'Ballot_Box.svg' %}">
</head>
<body>
  <header>
    <ul class="nav">
      {% block menubar %}
      <li class="nav"><a class="nav active" href="/">Home</a></li>
      <li class="nav"><a class="nav" href="/uk">UK Elections</a></li>
      {% endblock menubar %}
    </ul>
    <ul class="nav">
      {% block submenubar %}
      {% endblock submenubar %}
    </ul>
  </header>

  <section>
    {% block content %}{% endblock content %}
  </section>
</body>
</html>
